body {
    margin: 0;
    padding: 0;
    background: #000000;
    height: 100vh;
}

.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
}

.txt {
    color: #ffffff;
    background: #000000;
    font-size: 100px;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
    font-style: italic;
    padding: 1em;
}

.txt::before {
    content: 'HyperJet';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(2px);
}

.neon-wrapper {
    display: inline-flex;
    filter: brightness(200%);
    overflow: hidden;
}

.gradient {
    background: linear-gradient(114.5793141156962deg, rgba(6, 227, 250, 1) 4.927083333333334%, rgb(229, 64, 221) 97.84374999999999%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

.dodge {
    background: radial-gradient(circle, white, black 35%) center / 25% 25%;
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
}

@keyframes dodge-area {
    to {
        transform: translate(50%, 50%);
    }
}